transformers
accelerate
bitsandbytes
llama-index
llama-index-embeddings-huggingface
llama-index-llms-huggingface
llama-index-vector-stores-chroma
llama-index-retrievers-bm25
llama-index-postprocessor-flag-embedding-reranker
llama-parse
llama-index-readers-file
chromadb
sentence-transformers
pypdf
huggingface_hub
FlagEmbedding
langchain-groq
langchain-community
ragas
datasets